<!DOCTYPE html>
<html>
<body>
<h1>Vaše objenávka číslo <%= @order.id %> byla odeslána</h1>
<p>Vážený/ná <%= @order.name %>,</p>
<p>Produkt <%= @produkt.nazev %> byl odeslán</p>
<p>Pokud máte nějaké otázky, neváhejte se na nás obrátit.</p>
<p>Děkujeme za objednávku, řepínci</p>
</body>
</html>