<div style="position: fixed; bottom: 0; width: 100%; background-color: black; color: white; text-align: center; padding: 10px 0;">
  <p style="margin-bottom: 0px">Pouze proof of concept, v zadnem pripade to neni finalni verze :), jenom takova ukazka</p>
  <p style="margin-bottom: 0px">Email: <a href="mailto:matyabalcar0@gmail.com" style="color: white;">balcma00@upol.cz</a></p>
</div>
